{% stylesheet %}
    .card_article__button{
        text-decoration: underline;
        text-underline-offset: 4px;
    }
{% endstylesheet %}


<div class="card_article__button spacing-style button dis-i-flex" {% if card_article.featured_media == null and settings.card_style == 'standard' %}id="button-{{ section_id }}-{{ card_article.id }}"{% endif %} style="
    {% render 'size-style', settings: block.settings %}
    {% render 'spacing-style', settings: block.settings %}
">
    <a
        href="{{ card_article.url }}"
        id="StandardCardNoMediaLink-{{ section_id }}-{{ card_article.id }}"
        class="full-unstyled-link card-button-change"
        aria-labelledby="StandardCardNoMediaLink-{{ section_id }}-{{ card_article.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_article.id }}"
    >
        {{ block.settings.text | default: 'Read more...' }}
    </a>
</div>