{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-menu-multi-site' %}
{% endcomment %}

<nav class="header__inline-menu header__inline-menu-multi-site" data-menu-page>
  <template>
    <ul class="list-menu list-menu-desktop list-menu--inline {{block.settings.color_scheme}}" role="list">
      {%- for link in menu -%}
        <li>
            {%- if link.links != blank -%}
              <details
                id="Details-HeaderMenu-{{ forloopIndex }}"
                class="details--dropdown mega-menu"
                is="dropdown-details"
                activate-event="hover"
                data-index="0"
              >
                <summary
                  id="HeaderMenu-{{ link.handle }}"
                  class="
                    details__summary
                    list-menu__item menu__link--level-1 header__menu-item list-menu__item link focus-inset link--hover-underline
                    {% render 'highlight-class', order: '1', keys: keys, compare: link.title, settings: section.settings %}
                  "
                  {%- if link.links != blank -%}
                    aria-controls="submenu-{{ forloop.index }}"
                    aria-haspopup="true"
                    aria-expanded="false"
                  {%- endif -%}
                  style="{%  render 'highlight-style', order: '1', keys: keys, compare: link.title, settings: section.settings %}"
                >
                  <a
                    class="text{% if link.child_active %} header__active-menu-item{% endif %}"
                    {% if link.url != blank %}
                      href="{{ link.url }}"
                    {% else %}
                      role="link" aria-disabled="true"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </a>
                  {% if icon_type == 'caret' %}
                    <span class="svg-wrapper">
                      {{- 'icon-caret.svg' | inline_asset_content -}}
                    </span>
                  {% endif %}
                  {% render 'highlight-label-menu',
                    order: '1',
                    keys: keys,
                    compare: link.title,
                    settings: section.settings
                  %}
                </summary>
                <div
                  class="details__list mega-menu__content z-1 motion-reduce global-settings-popup color-{{ section.settings.color_scheme_top }}"
                  tabindex="-1"
                >
                  {%- render 'header-nav-mega',
                    blocks: blocks,
                    link: link,
                    forloopIndex: forloop.index,
                    block: block,
                    icon_type: icon_type,
                    keys: keys,
                    sec_settings: section.settings,
                    class_item_hover_reveal: class_item_hover_reveal
                  -%}
                </div>
              </details>
            {%- else -%}
              <a
                id="HeaderMenu-{{ link.handle }}"
                href="{{ link.url }}"
                class="
                  header__menu-item list-menu__item link link--text focus-inset link--hover-underline
                  {% render 'highlight-class', order: '1', keys: keys, compare: link.title, settings: section.settings %}
                "
                {% if link.current %}
                  aria-current="page"
                {% endif %}
                style="{%  render 'highlight-style', order: '1', keys: keys, compare: link.title, settings: section.settings %}"
              >
                <span
                  class="text{% if link.current %} header__active-menu-item{% endif %}"
                >
                  {{- link.title | escape -}}
                </span>

                {% render 'highlight-label-menu',
                  order: '1',
                  keys: keys,
                  compare: link.title,
                  settings: section.settings
                %}
              </a>
            {%- endif -%}
          </li>
      {%- endfor -%}
    </ul>
  </template>
</nav>