{% liquid
  assign block_settings = block.settings
  assign form_id = block.id | default: section.id | prepend: 'ContactForm-'
  assign button_style = block_settings.button_style
  assign button_label = block_settings.button_label
  capture text_block_classes
    if block_settings.type_preset == 'custom'
      echo ' custom-typography '
      if block_settings.font_size != ''
        echo ' custom-font-size '
      endif
      if block_settings.color != ''
        echo ' custom-color '
      endif
    endif
  endcapture
%}
<side-drawer-opener
  class="popup ask-an-expert product-popup-modal__opener--keep"
  {{ block.shopify_attributes }}
  data-side-drawer="#PopupModal-{{ block.id }}"
>
  <button
    id="PopupModalButton-{{ block.id }}"
    class="button button-unstyled popup__button spacing-style"
    type="button"
    style="
      {% render 'spacing-style', settings: block_settings %}
    "
  >
    {{- 'icon-mail.svg' | inline_asset_content -}}
    <span
      class="{{ block_settings.type_preset }} {{ text_block_classes }}" style="{% render 'typography-style', settings: block_settings %}"
    >
      {{- block_settings.heading }}
    </span>
  </button>
</side-drawer-opener>
<side-drawer
  class="popup__content product-popup-modal__drawer--keep drawer fixed top-0 left-0 z-10 w-screen h-full flex justify-center no-js-hidden"
  element-s-popup
  id="PopupModal-{{ block.id }}"
>
  <div id="Drawer-Overlay-{{ block.id }}" class="drawer__overlay fixed inset-0 cursor-pointer"></div>
  <div
    class="popup__inner color-{{ settings.popover_color_scheme }} w-full h-auto absolute-c-c flex flex-column global-settings-popup spacing-style"
    role="dialog"
    aria-modal="true"
    aria-label="Ask an expert"
    tabindex="-1"
    style="--modal-max-width: 72rem; {% render 'spacing-padding', settings: block_settings %}"
  >
    <button
      onclick="this.closest('side-drawer').close()"
      class="drawer__close block t-button bor-none rounded-full cursor-pointer absolute"
      type="button"
      aria-label="{{ 'accessibility.close_dialog' | t }}"
      style="--top: 0.5rem; --right: 0.5rem;"
    >
      {{- 'icon-close.svg' | inline_asset_content -}}
    </button>
    <div class="ask-an-expert__content">
      <div class="ask-an-expert__info">
        {% content_for 'block', type: 'text', id: 'heading' %}
        {% content_for 'block', type: '_divider', id: 'divider' %}
        {% content_for 'block', type: 'text', id: 'title' %}
        {% content_for 'block', type: 'text', id: 'description' %}
        {% content_for 'block', type: '_divider', id: 'divider-2' %}
        {% content_for 'block', type: 'text', id: 'text' %}
      </div>
      <contact-form class="block-contact-form" id="{{ form_id }}">
        {%- form 'contact', id: form_id -%}
          {% content_for 'blocks' %}
          <button class="button{% if button_style == 'outline' %}-secondary{% endif %} whitespace-nowrap" type="submit">{{ button_label }}</button>
        {%- endform -%}
      </contact-form>
    </div>
  </div>
</side-drawer>
{% stylesheet %}
  .popup.ask-an-expert > .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: none;
    text-align: left;
  }
  .popup.ask-an-expert > .button svg {
    top: 0;
  }
  .ask-an-expert__content {
    padding: 0 1.5rem;
    width: 100%;
    max-width: 54.5rem;
    margin: 0 auto;
  }
  .ask-an-expert__form .button[type="submit"] {
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem;
  }
{% endstylesheet %}
{% schema %}
{
  "name": "t:names.ask_an_expert",
  "tag": null,
  "blocks": [
    {
      "type": "_input"
    },
    {
      "type": "_textarea"
    },
    {
      "type": "_radio"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings.text",
      "default": "Ask an expert"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "t:options.subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "1.0rem",
          "label": "10px"
        },
        {
          "value": "1.2rem",
          "label": "12px"
        },
        {
          "value": "1.4rem",
          "label": "14px"
        },
        {
          "value": "1.6rem",
          "label": "16px"
        },
        {
          "value": "1.8rem",
          "label": "18px"
        },
        {
          "value": "2.0rem",
          "label": "20px"
        },
        {
          "value": "2.2rem",
          "label": "22px"
        },
        {
          "value": "2.4rem",
          "label": "24px"
        },
        {
          "value": "2.6rem",
          "label": "26px"
        },
        {
          "value": "2.8rem",
          "label": "28px"
        },
        {
          "value": "3.0rem",
          "label": "30px"
        },
        {
          "value": "3.2rem",
          "label": "32px"
        },
        {
          "value": "3.4rem",
          "label": "34px"
        },
        {
          "value": "3.6rem",
          "label": "36px"
        },
        {
          "value": "4.0rem",
          "label": "40px"
        },
        {
          "value": "5.0rem",
          "label": "50px"
        },
        {
          "value": "6.0rem",
          "label": "60px"
        },
        {
          "value": "7.0rem",
          "label": "70px"
        },
        {
          "value": "8.0rem",
          "label": "80px"
        },
        {
          "value": "9.0rem",
          "label": "90px"
        },
        {
          "value": "10.0rem",
          "label": "100px"
        },
        {
          "value": "12.0rem",
          "label": "120px"
        }
      ],
      "default": "1.6rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "t:settings.line_height",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        },
        {
          "value": "capitalize",
          "label": "t:options.capitalize"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "options": [
        {
          "value": "pretty",
          "label": "t:options.pretty"
        },
        {
          "value": "balance",
          "label": "t:options.balance"
        },
        {
          "value": "nowrap",
          "label": "t:options.none"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "color",
      "label": "t:settings.color",
      "options": [
        {
          "value": "var(--color-foreground)",
          "label": "t:options.text"
        },
        {
          "value": "var(--color-foreground-heading)",
          "label": "t:options.heading"
        },
        {
          "value": "var(--color-primary)",
          "label": "t:options.link"
        }
      ],
      "default": "var(--color-foreground)",
      "visible_if": "{{ block.settings.type_preset != 'rte' }}"
    },
    {
      "type": "header",
      "content": "t:content.submit_button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:settings.button_label",
      "default": "Send question"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:settings.type",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "outline",
          "label": "t:options.outline"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.ask_an_expert",
      "category": "t:categories.forms",
     "blocks": {
      "input_xBbKUN": {
        "type": "_input",
        "name": "t:names.input",
        "settings": {
          "label": "Full Name",
          "show_label": true,
          "label_type_preset": "paragraph",
          "label_mb": 8,
          "input_width": 100,
          "input_type_preset": "paragraph",
          "is_required": false,
          "placeholder": "",
          "padding_left": 15,
          "padding_right": 15,
          "padding_top": 12,
          "padding_bottom": 12,
          "border_style": "all",
          "input_border_width": 1,
          "input_border_radius": 0,
          "input_alignment": "left"
        },
        "blocks": {}
      },
      "input_nYMrt6": {
        "type": "_input",
        "name": "t:names.input",
        "settings": {
          "label": "Phone Number",
          "show_label": true,
          "label_type_preset": "paragraph",
          "label_mb": 8,
          "input_width": 100,
          "input_type_preset": "paragraph",
          "is_required": false,
          "placeholder": "",
          "padding_left": 15,
          "padding_right": 15,
          "padding_top": 12,
          "padding_bottom": 12,
          "border_style": "all",
          "input_border_width": 1,
          "input_border_radius": 0,
          "input_alignment": "left"
        },
        "blocks": {}
      },
      "input_bcpx9M": {
        "type": "_input",
        "name": "t:names.input",
        "settings": {
          "label": "Email Address",
          "show_label": true,
          "label_type_preset": "paragraph",
          "label_mb": 8,
          "input_width": 100,
          "input_type_preset": "paragraph",
          "is_required": false,
          "placeholder": "",
          "padding_left": 15,
          "padding_right": 15,
          "padding_top": 12,
          "padding_bottom": 12,
          "border_style": "all",
          "input_border_width": 1,
          "input_border_radius": 0,
          "input_alignment": "left"
        },
        "blocks": {}
      },
      "radio_MHEzFH": {
        "type": "_radio",
        "name": "Radio",
        "settings": {
          "label": "Do you need:",
          "show_label": true,
          "label_mb": 8,
          "options": "Pricing|Answers|Both",
          "options_layout": "horizontal",
          "option_type_preset": "paragraph",
          "padding_left": 15,
          "padding_right": 15,
          "padding_top": 12,
          "padding_bottom": 12,
          "border_style": "all",
          "input_border_width": 1,
          "input_border_radius": 0
        },
        "blocks": {}
      },
      "textarea_G7tKgw": {
        "type": "_textarea",
        "name": "Textarea",
        "settings": {
          "label": "",
          "show_label": true,
          "label_type_preset": "paragraph",
          "label_mb": 8,
          "text_area_height": 220,
          "form_row_width": 100,
          "input_type_preset": "paragraph",
          "is_required": false,
          "placeholder": "",
          "padding_left": 15,
          "padding_right": 15,
          "padding_top": 12,
          "padding_bottom": 12,
          "border_style": "all",
          "input_border_width": 1,
          "input_border_radius": 0,
          "input_alignment": "left"
        },
        "blocks": {}
      },
      "heading": {
        "type": "text",
        "static": true,
        "settings": {
          "text": "<h5>Have Questions?</h5>",
          "typing_text": false,
          "primary_text": "Welcome to our store!",
          "secondary_text": "Exclusive offers just for you.",
          "third_text": "Shop now and enjoy deals!",
          "highlight_text": false,
          "highlight_text_content": "",
          "highlight_text_type": "text",
          "underline_height": 18,
          "underline_offset": 20,
          "highlight_text_color": "#000000",
          "highlight_underline_color": "#000000",
          "spacing_text": false,
          "spacing_text_content": "",
          "spacing_text_left": 0,
          "spacing_text_right": 0,
          "stroke_text": false,
          "stroke_text_content": "",
          "width": "100%",
          "unit": "percent",
          "custom_width": 100,
          "custom_width_pixel": 500,
          "inherit_text_alignment": false,
          "justify_alignment": false,
          "alignment": "center",
          "width_tablet": "100%",
          "unit_tablet": "percent",
          "custom_width_tablet": 100,
          "custom_width_tablet_pixel": 100,
          "inherit_text_alignment_tablet": false,
          "justify_alignment_tablet": false,
          "alignment_tablet": "center",
          "width_mobile": "100%",
          "unit_mobile": "percent",
          "custom_width_mobile": 100,
          "custom_width_mobile_pixel": 100,
          "inherit_text_alignment_mobile": false,
          "justify_alignment_mobile": false,
          "alignment_mobile": "center",
          "type_preset": "custom",
          "font": "var(--font-heading--family)",
          "font_size": "1.6rem",
          "line_height": "normal",
          "letter_spacing": "normal",
          "case": "none",
          "wrap": "pretty",
          "color": "var(--color-foreground)",
          "background": false,
          "background_color": "#00000026",
          "enable_border": false,
          "enable_border_bottom": false,
          "border": "none",
          "border_width": 0,
          "border_width_type": "100%",
          "border_custom_width": 100,
          "border_radius": 0,
          "text_effect": "none",
          "animation_repeat": false,
          "padding-block-start": 12,
          "padding-block-end": 12,
          "padding-inline-start": 0,
          "padding-inline-end": 0
        },
        "blocks": {}
      },
      "divider": {
        "type": "_divider",
        "static": true,
        "settings": {
          "thickness": 1,
          "corner_radius": "square",
          "width_percent": 100,
          "alignment_horizontal": "center",
          "padding-block-start": 10,
          "padding-block-end": 10
        },
        "blocks": {}
      },
      "title": {
        "type": "text",
        "static": true,
        "settings": {
          "text": "<h4>Ask The Fashion Expert Anything On Ella</h4>",
          "typing_text": false,
          "primary_text": "Welcome to our store!",
          "secondary_text": "Exclusive offers just for you.",
          "third_text": "Shop now and enjoy deals!",
          "highlight_text": false,
          "highlight_text_content": "",
          "highlight_text_type": "text",
          "underline_height": 18,
          "underline_offset": 20,
          "highlight_text_color": "#000000",
          "highlight_underline_color": "#000000",
          "spacing_text": false,
          "spacing_text_content": "",
          "spacing_text_left": 0,
          "spacing_text_right": 0,
          "stroke_text": false,
          "stroke_text_content": "",
          "width": "100%",
          "unit": "percent",
          "custom_width": 100,
          "custom_width_pixel": 500,
          "inherit_text_alignment": false,
          "justify_alignment": false,
          "alignment": "center",
          "width_tablet": "100%",
          "unit_tablet": "percent",
          "custom_width_tablet": 100,
          "custom_width_tablet_pixel": 100,
          "inherit_text_alignment_tablet": false,
          "justify_alignment_tablet": false,
          "alignment_tablet": "center",
          "width_mobile": "100%",
          "unit_mobile": "percent",
          "custom_width_mobile": 100,
          "custom_width_mobile_pixel": 100,
          "inherit_text_alignment_mobile": false,
          "justify_alignment_mobile": false,
          "alignment_mobile": "center",
          "type_preset": "custom",
          "font": "var(--font-heading--family)",
          "font_size": "1.6rem",
          "line_height": "normal",
          "letter_spacing": "normal",
          "case": "none",
          "wrap": "pretty",
          "color": "var(--color-foreground)",
          "background": false,
          "background_color": "#00000026",
          "enable_border": false,
          "enable_border_bottom": false,
          "border": "none",
          "border_width": 0,
          "border_width_type": "100%",
          "border_custom_width": 100,
          "border_radius": 0,
          "text_effect": "none",
          "animation_repeat": false,
          "padding-block-start": 36,
          "padding-block-end": 16,
          "padding-inline-start": 0,
          "padding-inline-end": 0
        },
        "blocks": {}
      },
      "description": {
        "type": "text",
        "static": true,
        "settings": {
          "text": "<p><em>We will follow up with you via email within 24-36 hours</em></p>",
          "typing_text": false,
          "primary_text": "Welcome to our store!",
          "secondary_text": "Exclusive offers just for you.",
          "third_text": "Shop now and enjoy deals!",
          "highlight_text": false,
          "highlight_text_content": "",
          "highlight_text_type": "text",
          "underline_height": 18,
          "underline_offset": 20,
          "highlight_text_color": "#000000",
          "highlight_underline_color": "#000000",
          "spacing_text": false,
          "spacing_text_content": "",
          "spacing_text_left": 0,
          "spacing_text_right": 0,
          "stroke_text": false,
          "stroke_text_content": "",
          "width": "100%",
          "unit": "percent",
          "custom_width": 100,
          "custom_width_pixel": 500,
          "inherit_text_alignment": false,
          "justify_alignment": false,
          "alignment": "center",
          "width_tablet": "100%",
          "unit_tablet": "percent",
          "custom_width_tablet": 100,
          "custom_width_tablet_pixel": 100,
          "inherit_text_alignment_tablet": false,
          "justify_alignment_tablet": false,
          "alignment_tablet": "center",
          "width_mobile": "100%",
          "unit_mobile": "percent",
          "custom_width_mobile": 100,
          "custom_width_mobile_pixel": 100,
          "inherit_text_alignment_mobile": false,
          "justify_alignment_mobile": false,
          "alignment_mobile": "center",
          "type_preset": "custom",
          "font": "var(--font-body--family)",
          "font_size": "1.6rem",
          "line_height": "normal",
          "letter_spacing": "normal",
          "case": "none",
          "wrap": "pretty",
          "color": "var(--color-foreground)",
          "background": false,
          "background_color": "#00000026",
          "enable_border": false,
          "enable_border_bottom": false,
          "border": "none",
          "border_width": 0,
          "border_width_type": "100%",
          "border_custom_width": 100,
          "border_radius": 0,
          "text_effect": "none",
          "animation_repeat": false,
          "padding-block-start": 0,
          "padding-block-end": 0,
          "padding-inline-start": 0,
          "padding-inline-end": 0
        },
        "blocks": {}
      },
      "divider-2": {
        "type": "_divider",
        "static": true,
        "settings": {
          "thickness": 1,
          "corner_radius": "square",
          "width_percent": 100,
          "alignment_horizontal": "center",
          "padding-block-start": 36,
          "padding-block-end": 24
        },
        "blocks": {}
      },
      "text": {
        "type": "text",
        "static": true,
        "settings": {
          "text": "<p>Please answer the following questionnaire</p>",
          "typing_text": false,
          "primary_text": "Welcome to our store!",
          "secondary_text": "Exclusive offers just for you.",
          "third_text": "Shop now and enjoy deals!",
          "highlight_text": false,
          "highlight_text_content": "",
          "highlight_text_type": "text",
          "underline_height": 18,
          "underline_offset": 20,
          "highlight_text_color": "#000000",
          "highlight_underline_color": "#000000",
          "spacing_text": false,
          "spacing_text_content": "",
          "spacing_text_left": 0,
          "spacing_text_right": 0,
          "stroke_text": false,
          "stroke_text_content": "",
          "width": "100%",
          "unit": "percent",
          "custom_width": 100,
          "custom_width_pixel": 500,
          "inherit_text_alignment": false,
          "justify_alignment": false,
          "alignment": "center",
          "width_tablet": "100%",
          "unit_tablet": "percent",
          "custom_width_tablet": 100,
          "custom_width_tablet_pixel": 100,
          "inherit_text_alignment_tablet": false,
          "justify_alignment_tablet": false,
          "alignment_tablet": "center",
          "width_mobile": "100%",
          "unit_mobile": "percent",
          "custom_width_mobile": 100,
          "custom_width_mobile_pixel": 100,
          "inherit_text_alignment_mobile": false,
          "justify_alignment_mobile": false,
          "alignment_mobile": "center",
          "type_preset": "custom",
          "font": "var(--font-body--family)",
          "font_size": "1.6rem",
          "line_height": "normal",
          "letter_spacing": "normal",
          "case": "none",
          "wrap": "pretty",
          "color": "var(--color-foreground)",
          "background": false,
          "background_color": "#00000026",
          "enable_border": false,
          "enable_border_bottom": false,
          "border": "none",
          "border_width": 0,
          "border_width_type": "100%",
          "border_custom_width": 100,
          "border_radius": 0,
          "text_effect": "none",
          "animation_repeat": false,
          "padding-block-start": 0,
          "padding-block-end": 20,
          "padding-inline-start": 0,
          "padding-inline-end": 0
        },
        "blocks": {}
      }
    },
    "block_order": [
      "input_xBbKUN",
      "input_nYMrt6",
      "input_bcpx9M",
      "radio_MHEzFH",
      "textarea_G7tKgw"
    ]
    }
  ]
}
{% endschema %}
