<div
  class="
    promotion-code flex-center
    size-style
    spacing-style
  "
  style="
    {% render 'size-style', settings: block.settings %}
    {% render 'spacing-padding', settings: block.settings %}
  "
  {{ block.shopify_attributes }}
>
  <copy-code
    class="promotion-code__field w-full relative"
    style="
      --input-border-width: {{ block.settings.input_border_width }}px;
      --input-border-radius: {{ block.settings.input_border_radius }}px;
    "
  >
    <input
      class="promo-code__input promotion-code__input--{{ block.settings.border_style }} {{ block.settings.input_alignment }} {{ block.settings.input_type_preset }}"
      type="text"
      name="promo-code-input"
      value="{{ block.settings.promotion_popup_discount_code_text }}"
      readonly
    >
    <button
      class="
        promo-code__button promo-code__button--integrated button-unstyled
        {{ block.settings.style_class }}
      "
      style="
        --icon-size-desktop: {{ block.settings.icon_size_desktop }}px;
        --icon-size-mobile: {{ block.settings.icon_size_mobile }}px;
      "
    >
      {% render 'icon-copy' %}
      <span class="tooltip" data-success_message="{{ 'content.copied' | t }}">
        {{ 'content.copy' | t }}
      </span>
    </button>
  </copy-code>
</div>

{% stylesheet %}
  .promo-code__input {
    --box-shadow-color: var(--color-input-border);

    width: 100%;
    padding-block: 0.8rem;
    padding-inline: 1.8rem 5.5rem;
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);
    border-style: solid;
    border-color: var(--color-input-border);
    box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset)
      var(--inputs-shadow-blur-radius) var(--box-shadow-color);

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &.promotion-code__input--underline {
      --box-shadow-multiplier: 1;

      color: var(--color-input-text);
      background-color: transparent;
      padding: 1.6rem 2.8rem;
      border: none;
      border-radius: 0;
      box-shadow: 0 calc(var(--input-border-width) * var(--box-shadow-multiplier)) 0 var(--box-shadow-color);
      transition: box-shadow var(--animation-values);

      &:focus-visible {
        --box-shadow-multiplier: 1.75;
        --box-shadow-color: var(--color-input-text);

        outline: none;
      }
    }

    &.promotion-code__input--none {
      color: var(--color-input-text);
      background-color: var(--color-input-background);
      border: none;
    }
  }

  .promo-code__button {
    aspect-ratio: 1;
    padding: .8rem;
    min-width: auto;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    & svg {
      color: var(--button-color);
      fill: currentcolor;

      @media screen and (min-width: 750px) {
        width: var(--icon-size-desktop);
        height: var(--icon-size-desktop);
      }

      @media screen and (max-width: 749px) {
        width: var(--icon-size-mobile);
        height: var(--icon-size-mobile);
      }
    }

    &:hover .tooltip {
      opacity: var(--opacity-100);
      transform: translate(-50%, 0);
      visibility: visible;
      pointer-events: auto;
    }

    &.promo-code__button--integrated {
      --button-offset: 0.1rem;

      position: absolute;
      height: calc(100% - (var(--button-offset) * 2) - (var(--input-border-width) * 2));
      right: var(--input-border-width);
      top: 50%;
      transform: translateY(-50%);

      @media screen and (max-width: 749px) {
        width: fit-content;
      }
    }

    &.bor-none {
      border: none;
    }
  }

  .promotion-code .tooltip {
    font-size: 1.2rem;
    color: var(--color-white);
    background: var(--color-foreground);
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    padding: 0.5rem;
    z-index: 2;
    min-width: 4rem;
    transform: translate(-50%, 50%);
    margin: 0 0 10px;
    border-radius: 0.2rem;
    transition: var(--animation-speed) var(--animation-timing-bounce);
    white-space: nowrap;
    text-transform: capitalize;
    opacity: var(--opacity-0);
    visibility: hidden;
    pointer-events: none;

    &:before {
      content: '';
      position: absolute;
      bottom: -0.7rem;
      left: 50%;
      height: 0;
      width: 0;
      border-top: 0.7rem solid var(--color-foreground);
      border-left: 0.7rem solid transparent;
      border-right: 0.7rem solid transparent;
      transform: translate(-50%);
    }
  }
{% endstylesheet %}

<script defer="defer">
  class CopyCode extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.addEventListener('click', this.copyCode.bind(this));
    }

    disconnectedCallback() {
      this.removeEventListener('click', this.copyCode.bind(this));
    }

    copyCode() {
      this.inputField = this.querySelector('.promotion-code__field .promo-code__input');
      this.tooltip = this.querySelector('.tooltip');
      navigator.clipboard.writeText(this.inputField.value).then(() => {
        this.tooltip.textContent = this.tooltip.dataset.success_message;
      });
    }
  }
  customElements.define('copy-code', CopyCode);
</script>

{% schema %}
{
  "name": "t:names.input_promotion_code",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.input"
    },
    {
      "type": "text",
      "id": "promotion_popup_discount_code_text",
      "label": "t:settings.code"
    },
    {
      "type": "select",
      "id": "border_style",
      "label": "t:settings.border",
      "options": [
        {
          "value": "all",
          "label": "t:options.all"
        },
        {
          "value": "underline",
          "label": "t:options.underline"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "all"
    },
    {
      "type": "range",
      "id": "input_border_width",
      "label": "t:settings.border_width",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "px",
      "default": 1,
      "visible_if": "{{ block.settings.border_style != 'none' }}"
    },
    {
      "type": "range",
      "id": "input_border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.border_style != 'underline' }}"
    },
    {
      "type": "select",
      "id": "input_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "input_type_preset",
      "label": "t:settings.type_preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "paragraph",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "header",
      "content": "t:names.button"
    },
    {
      "type": "select",
      "id": "style_class",
      "label": "t:settings.style",
      "options": [
        {
          "value": "button",
          "label": "t:options.primary"
        },
        {
          "value": "button-secondary",
          "label": "t:options.secondary"
        }
      ],
      "default": "button"
    },
    {
      "type": "range",
      "id": "icon_size_desktop",
      "label": "t:settings.icon_size_desktop",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "icon_size_mobile",
      "label": "t:settings.icon_size_mobile",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 40,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 40,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.input_promotion_code",
      "category": "t:categories.custom"
    }
  ]
}
{% endschema %}