{% capture agree_condition %}
  {%- if block.settings.agree_condition and block.settings.agree_condition_text != blank -%}
    {% assign alignment = block.settings.input_alignment | prepend: 'justify-' %}
    <div class="spacing-style newsletter-form__checkbox"
      style="--padding-block-start: {{ block.settings.condition-padding-block-start }}px; --padding-block-end:{{- block.settings.condition-padding-block-end -}}px;--padding-inline-start: 0px;--padding-inline-end: 0px;"
    >
      {% assign checkbox_id = block.id | prepend: 'agree_condition-' %}
      {% render 'checkbox', label: block.settings.agree_condition_text, id: checkbox_id, name: checkbox_id, required: true, alignment: alignment %}
    </div>
  {%- endif -%}
{% endcapture %}

{% capture input_description %}
  {%- if block.settings.show_input_description and block.settings.input_description != blank -%}
    <div
      class="spacing-style newsletter-form__description left"
      style="--text-align: left;--padding-block-start: {{ block.settings.description-padding-block-start }}px; --padding-block-end:{{- block.settings.description-padding-block-end -}}px;"
    >
      {% render 'text', fallback_text: block.settings.input_description, block: block %}
    </div>
  {%- endif -%}
{% endcapture %}

{%- capture submit_class -%}
email-signup__button--size-{{ block.settings.submit_width }} {{ block.settings.button_type_preset }} {% if block.settings.style_class != 'button-custom' %} {{ block.settings.style_class }}{% else %}{% if block.settings.hide_submit_border %} bor-none{% endif %} {% endif %} {{ block.settings.style_class }}--{{ block.id }}{% if block.settings.inherit_color_scheme == false %} color-{{ block.settings.color_scheme }}{% endif %}
{%- endcapture -%}

<email-signup
  class="email-signup-block size-style spacing-style{% if block.settings.inherit_color_scheme == false %} color-scheme-custom{% endif %}"
  style="
    {% render 'size-style', settings: block.settings %}{% render 'spacing-style', settings: block.settings %}--gap: {{ block.settings.gap }}px;
    {% if block.settings.inherit_color_scheme == false %}
      {% render 'color-scheme-style', settings: block.settings %}
    {% endif %}
  "
  {{ block.shopify_attributes }}
>
  {%- if block.settings.show_subscription -%}
    <div class="subscription-form email-signup__input-groups no-js-hidden">
      <div class="subscription-text email-signup__input {{ block.settings.input_alignment }} {{ block.settings.input_type_preset }}">
        {{ block.settings.subscription_text }}
      </div>
      <button
        type="submit"
        class="promo-btn size-style email-signup__button email-signup__button--text {{ submit_class }}"
        aria-label="{{ 'content.button_label' | t }}"
        style="
          {%- if block.settings.submit_width == 'custom' -%}
            --size-style-width: {{- block.settings.submit_custom_width }}%;
          {%- else -%}
            --size-style-width: {{ block.settings.submit_width }};
          {%- endif -%}

          {% if block.settings.submit_width_mobile == 'custom' %}
            --size-style-width-mobile: {{- block.settings.submit_custom_width_mobile }}%;
            --size-style-width-mobile-min: {{- block.settings.submit_custom_width_mobile }}%;
          {%- elsif block.settings.submit_width_mobile == 'fit-content' -%}
            --size-style-width-mobile: {{ block.settings.submit_width_mobile }};
            --size-style-width-mobile-min: {{ block.settings.submit_width_mobile }};
          {%- endif -%}
        "
      >
        {{ block.settings.subscription_button }}
      </button>
    </div>
  {%- endif -%}

  {% assign form_id = block.id | prepend: 'EmailSignup-' %}

  {%- form 'customer', id: form_id, class: 'email-signup__form' %}
    <div
      class="
        email-signup__input-groups
        border-style
        spacing-style
      "
      style="
        {% if block.settings.border != 'none' %}
          --padding-block-start: {{ block.settings.field-padding-block-start | default: 0 }}px;
          --padding-block-end:{{- block.settings.field-padding-block-end | default: 0 -}}px;
          --padding-inline-start:{{ block.settings.field-padding-inline-start | default: 0 }}px;
          --padding-inline-end:{{- block.settings.field-padding-inline-end | default: 0 -}}px;
        {% endif %}
        --input-border-width: {{ block.settings.input_border_width }}px;
        --input-border-radius: {{ block.settings.input_border_radius }}px;
        {% if block.settings.integrated_button %}
          --padding-vertical: 1.6rem;
          --padding-horizontal: 1.2rem;
        {% endif %}
        {% render 'border-override', settings: block.settings %}

        {%- if block.settings.submit_width == 'custom' -%}
          --size-style-width: {{- block.settings.submit_custom_width }}%;
        {%- else -%}
          --size-style-width: {{ block.settings.submit_width }};
        {%- endif -%}
      "
    >
      <div class="email-signup__input-group" style="--focus-border-color: {{ block.settings.focus_border_color }};">
        <label
          for="EmailInput-{{ block.id }}"
          class="visually-hidden"
        >
          {% if block.settings.input_label != blank -%}
            {{- block.settings.input_label -}}
          {%- else -%}
            {{- 'content.label' | t -}}
          {%- endif %}
        </label>
        <input
          id="EmailInput-{{ block.id }}"
          class="email-signup__input email-signup__input--{{ block.settings.border_style }} {{ block.settings.input_alignment }} {{ block.settings.input_type_preset }}{% if block.settings.input_focus_effect != 'none' %} has-focus-border input-{{ block.settings.input_focus_effect }}{% endif %}"
          type="email"
          name="contact[email]"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          placeholder="{% if block.settings.input_label != blank %}{{ block.settings.input_label }}{% else %}{{ 'content.label' | t }}{% endif %}"
          required
          {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="Email-signup__message-error-{{ block.id }}"
          {% elsif form.posted_successfully? %}
            aria-describedby="Email-signup__message-success-{{ block.id }}"
          {% endif %}
        >
        {% if block.settings.input_focus_effect != 'none' %}
          <span class="focus-border">
            <i></i>
          </span>
        {% endif %}
      </div>

      <button
        id="EmailSignup-submit-{{ block.id }}"
        type="submit"
        class="size-style email-signup__button{% if block.settings.integrated_button %} email-signup__button--integrated{% endif %} email-signup__button--{{ block.settings.display_type }} {{ submit_class }}{% if block.settings.display_type == 'icon' and block.settings.background_button == false %} email-signup__button--icon-fill{% endif %}{% if block.settings.display_type == 'icon' %} submit-icon-size{% endif %} {{ submit_class }}"
        {% if block.settings.display_type != 'text' %}
          aria-label="{{ 'content.button_label' | t }}"
        {% endif %}
        style="
          {% if block.settings.display_type == 'icon' %}
            --icon-size-desktop: {{ block.settings.icon_size_desktop }}px;
            --icon-size-mobile: {{ block.settings.icon_size_mobile }}px;
          {% endif %}

          {%- if block.settings.integrated_button -%}
            --size-style-width: fit-content;
          {%- else -%}
            --size-style-width: fill-content;
            --size-style-width-tablet: fill-content;
            --size-style-width-mobile: fill-content;

            {% if block.settings.submit_width_mobile == 'custom' %}
            --size-style-width-mobile: {{- block.settings.submit_custom_width_mobile }}%;
            --size-style-width-mobile-min: {{- block.settings.submit_custom_width_mobile }}%;
          {%- elsif block.settings.submit_width_mobile == 'fit-content' -%}
            --size-style-width-mobile: {{ block.settings.submit_width_mobile }};
            --size-style-width-mobile-min: {{ block.settings.submit_width_mobile }};
          {%- endif -%}
          {%- endif -%}
        "
      >
        {% if block.settings.display_type == 'text' %}
          {{ block.settings.label }}
        {% else %}
          {%- if block.settings.icon_type == 'chevron' -%}
            {{- 'icon-caret.svg' | inline_asset_content -}}
          {%- elsif block.settings.icon_type == 'arrow' -%}
            {{- 'icon-arrow.svg' | inline_asset_content -}}
          {%- else -%}
            {{- 'icon-fly.svg' | inline_asset_content -}}
          {%- endif -%}
        {% endif %}
      </button>
    </div>
    {%- if block.settings.display_type == 'text' and block.settings.integrated_button == false -%}
      {{ agree_condition }}
      {{ input_description }}
    {%- endif -%}

    {%- if block.settings.display_type != 'text' or block.settings.integrated_button -%}
      {{ agree_condition }}
      {{ input_description }}
    {%- endif -%}

    {%- if form.errors -%}
      <div
        id="Email-signup__message-error-{{ block.id }}"
        class="email-signup__message email-signup__message--error"
        tabindex="-1"
      >
        <svg
          class="svg-wrapper icon-error"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          focusable="false"
          aria-hidden="true"
        >
          {%- render 'icon', icon: 'error'  -%}
        </svg>
        {{- form.errors.translated_fields.email | capitalize }}
        {{ form.errors.messages.email -}}
      </div>
    {%- endif -%}

    {%- if form.posted_successfully? -%}
      <div
        id="Email-signup__message-success-{{ block.id }}"
        class="email-signup__message email-signup__message--success"
        tabindex="-1"
      >
        <span class="svg-wrapper icon-success">
          {{ 'icon-checkmark.svg' | inline_asset_content }}
        </span>
        <p class="email-signup__message-text">{{ 'content.success' | t }}</p>
      </div>
    {%- endif -%}
  {% endform %}
</email-signup>

{% stylesheet %}
  .email-signup-block {
    @media screen and (max-width: 749px) {
      width: 100%;
    }
  }

  .email-signup__button {
  white-space: nowrap;
  padding: 0;
}

  .email-signup__form {
    display: flex;
    flex-direction: column;
  }

  .email-signup__input-groups {
    position: relative;
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr auto;
    background-color: transparent;

    &:has(.email-signup__button--size-custom):not(:has(.email-signup__button--icon)) {
      @media screen and (min-width: 750px) {
        grid-template-columns: calc(100% - var(--size-style-width) - var(--gap)) var(--size-style-width);
      }
    }
  }

  .email-signup__input-groups:not(:has(.email-signup__button--integrated)) {
    gap: var(--gap);
  }

  /* .email-signup__input-groups:not(:has(.email-signup__button--icon)) {
    @media screen and (max-width: 749px) {
      grid-template-columns: 1fr;
    }
  }
  //ryu remove */

  .email-signup__input {
    --box-shadow-color: var(--color-input-border);

    width: 100%;
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);
    border-style: solid;
    border-color: var(--color-input-border);
    box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset)
      var(--inputs-shadow-blur-radius) var(--box-shadow-color);

    &.subscription-text {
      border: none;
      padding-inline: 0;
    }
  }

.email-signup__input:focus-visible {
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
}

  .email-signup__input.paragraph {
    color: var(--color-input-text);
    outline-color: var(--color-input-background);
  }

  .email-signup__input,
  .email-signup__button--text {
    padding: var(--padding-lg) var(--padding-3xl);
  }

  .email-signup__input-groups:has(.email-signup__button--integrated) {
    & .email-signup__input {
      padding-inline: 1.8rem 5.5rem;
      padding-inline: var(--padding-vertical) var(--padding-horizontal);
    }

    &:has(.email-signup__button--text) .email-signup__input {
      padding-inline: 1.8rem calc(var(--padding-3xl) * 5);
    }
  }

  .email-signup__input-groups .email-signup__input--underline {
    --box-shadow-color: var(--color-input-border);
    --box-shadow-multiplier: 1;

    color: var(--color-input-text);
    background-color: transparent;
    padding: 1.6rem 2.8rem;
    border: none;
    border-radius: 0;
    box-shadow: 0 calc(var(--border-width) * var(--box-shadow-multiplier)) 0 var(--box-shadow-color);
    transition: box-shadow var(--animation-values);

    &:focus-visible {
      --box-shadow-multiplier: 1.75;
      --box-shadow-color: var(--color-input-text);

      outline: none;
    }
  }

  .email-signup__input::placeholder {
    color: rgb(var(--color-input-text-rgb) / var(--opacity-70));
  }

  .email-signup__input-groups .email-signup__input--none {
    color: var(--color-input-text);
    background-color: var(--color-input-background);
    border: none;
  }

  .email-signup__input:has(+ .email-signup__button--icon),
  .email-signup__input:has(+ .email-signup__button--integrated) {
    @media screen and (max-width: 749px) {
      text-align: left;
    }
  }

  .email-signup__button--icon {
    aspect-ratio: 1;
    padding-inline: var(--padding-xs);
    min-width: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.email-signup__button--icon-fill:not(.button-unstyled) {
      background-color: transparent;
      box-shadow: none;
      padding: 0.5rem;
      align-items: flex-end;

      > svg {
        padding: 0;
      }
    }

    & svg {
      color: var(--button-color);
      fill: currentcolor;
      padding: 0.5rem;

      @media screen and (max-width: 749px) {
        padding: 0;
        align-self: center;
        justify-self: center;
        width: var(--icon-size-lg);
        height: var(--icon-size-lg);
      }
    }

    & .icon-caret {
      transform: rotate(-90deg);
    }

    &:not(.email-signup__button--integrated) {
      width: auto;
    }
  }

  .email-signup__button--integrated {
    --button-offset: var(--margin-xs);

    position: absolute;
    height: calc(100% - (var(--button-offset) * 2) - (var(--border-width) * 2));
    right: calc(var(--button-offset) + var(--border-width));
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 749px) {
      width: fit-content;
    }

    &.email-signup__button--text {
      padding: 0 var(--padding-3xl);
    }

    &.email-signup__button--text.button-unstyled {
      padding: 0 var(--padding-xl);
    }

    &.button-unstyled {
      border-radius: var(--input-border-radius);
    }

    &.email-signup__button--icon-fill:not(.button-unstyled) {
      align-items: center;
    }

    > svg {
      padding: 0;
    }
  }

  .email-signup__input--underline + .email-signup__button {
    &:not(.email-signup__button--integrated) {
      height: calc(100% + (var(--border-width) * 1));
    }
  }

  .email-signup__input--underline + .email-signup__button--integrated {
    right: 0;

    &.email-signup__button--text.button-unstyled {
      padding: 0;
    }

    &.button-unstyled {
      border-radius: 0;
    }
  }

  .email-signup__button:not(.button-unstyled) {
    background: var(--button-background-color);
    background-origin: border-box;
    color: var(--button-color);
    font-weight: var(--button-font-weight-primary);
    text-transform: var(--button-text-case-primary);
  }

  .email-signup__button.button-secondary {
    font-weight: var(--button-font-weight-secondary);
    text-transform: var(--button-text-case-secondary);
  }

  .email-signup__button.button-unstyled {
    background-color: transparent;
    color: var(--color-input-text);
  }

  .email-signup__button.button-unstyled:hover {
    color: rgb(var(--color-input-text-rgb) / var(--opacity-70));
    cursor: pointer;
  }

  .email-signup__message {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  .email-signup__message-text {
    margin: 0;
  }

  @media screen and (min-width: 750px) {
    .submit-icon-size {
      width: var(--size-style-width);
    }
    .submit-icon-size svg {
      width: var(--icon-size-desktop);
      height: var(--icon-size-desktop);
    }
  }

  @media screen and (max-width: 749px) {
    .submit-icon-size svg {
      width: var(--icon-size-mobile);
      height: var(--icon-size-mobile);
    }
  }

  /* mint update hover effect */
  .input-effect-1{transition: 0.4s;}
  .input-effect-1 ~ .focus-border:before,
  .input-effect-1 ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: var(--focus-border-color,#3399FF); transition: 0.2s; transition-delay: 0.2s;}
  .input-effect-1 ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
  .input-effect-1 ~ .focus-border i:before,
  .input-effect-1 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: var(--focus-border-color,#3399FF); transition: 0.2s;}
  .input-effect-1 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.3s;}
  .input-effect-1.has-focus-border:focus {border-color: transparent;}
  .input-effect-1.has-focus-border::placeholder {transition: opacity 0.4s ease-in-out;}
  .input-effect-1.has-focus-border:focus::placeholder {opacity: 0;}
  .input-effect-1:focus ~ .focus-border:before,
  .input-effect-1:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
  .input-effect-1:focus ~ .focus-border:after{transition-delay: 0.2s;}
  .input-effect-1:focus ~ .focus-border i:before,
  .input-effect-1:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
  .input-effect-1:focus ~ .focus-border i:after{transition-delay: 0.4s;}

  .email-signup__button {
    cursor: pointer;

    svg {
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      svg {
        color: var(--color-primary);
        transform:  scale(1.05);
      }
    }
  }
{% endstylesheet %}

{% javascript %}
  class EmailSignup extends HTMLElement {
    constructor() {
      super();
      this._handleOutsideClick = this._handleOutsideClick.bind(this);
    }

    connectedCallback() {
      this.form = this.querySelector('[id^="EmailSignup-"]');
      this.checkbox = this.form?.querySelector('[id^="agree_condition-"]');
      this.submitButton = this.form?.querySelector("button[id^='EmailSignup-submit-']");
      this.subscriptionForm = this.querySelector('.subscription-form');
      this.emailForm = this.querySelector('.email-signup__form');
      this.promoBtn = this.querySelector('.promo-btn');
      // this.backBtn = this.emailForm.querySelector('.back-btn');

      this.initAgreeCondition();
      this.initPromoToggle();

      if (window.location.search.includes('contact_posted=true')) {
        this.showEmailForm(true);
      }
    }

    initAgreeCondition() {
      if (!this.checkbox || !this.submitButton) return;

      this.submitButton.disabled = true;

      this.checkbox.addEventListener('change', () => {
        this.submitButton.disabled = !this.checkbox.checked;
      });

      this.form.addEventListener('submit', (e) => {
        if (!this.checkbox.checked) {
          e.preventDefault();
          alert('Please agree to the terms and conditions before submitting.');
        }
      });
    }

    initPromoToggle() {
      if (!this.subscriptionForm || !this.emailForm || !this.promoBtn) return;

      this.emailForm.style.display = 'none';

      this.promoBtn.addEventListener('click', () => this.showEmailForm());
      // this.backBtn?.addEventListener('click', () => this.showSubscriptionForm());
    }

    async showEmailForm(skipHideAnim = false) {
      if (!skipHideAnim) await this._animateHide(this.subscriptionForm);
      this.subscriptionForm.style.display = 'none';
      this.emailForm.style.display = '';
      await this._animateShow(this.emailForm);

      document.addEventListener('click', this._handleOutsideClick);
    }

    async showSubscriptionForm() {
      await this._animateHide(this.emailForm);
      this.emailForm.style.display = 'none';
      this.subscriptionForm.style.display = '';
      await this._animateShow(this.subscriptionForm);

      document.removeEventListener('click', this._handleOutsideClick);
    }

    _handleOutsideClick(e) {
      if (!this.contains(e.target)) {
        this.showSubscriptionForm();
      }
    }

    async _animateShow(element) {
      element.style.overflow = 'hidden';
      await Motion.timeline([
        [
          element,
          { height: ['0px', `${element.scrollHeight}px`] },
          { duration: 0.45, easing: 'cubic-bezier(0.7, 0, 0.3, 1)' },
        ],
        [
          element,
          { opacity: [0, 1], transform: ['translateX(-1rem)', 'translateX(0)'] },
          { duration: 0.25, at: '-0.1' },
        ],
      ]).finished;
      element.style.height = 'auto';
      element.style.overflow = 'visible';
    }

    async _animateHide(element) {
      element.style.overflow = 'hidden';
      await Motion.timeline([
        [element, { opacity: 0, transform: ['translateX(0)', 'translateX(1rem)'] }, { duration: 0.15 }],
        [
          element,
          { height: [`${element.clientHeight}px`, '0px'] },
          { duration: 0.35, at: '<', easing: 'cubic-bezier(0.7, 0, 0.3, 1)' },
        ],
      ]).finished;
      element.style.height = 'auto';
      element.style.overflow = 'visible';
    }
  }
  if (!customElements.get('email-signup')) customElements.define('email-signup', EmailSignup);
{% endjavascript %}

{% schema %}
{
  "name": "t:names.email_signup",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.email_signup_create_customer_profiles"
    },
    {
      "type": "checkbox",
      "id": "show_subscription",
      "label": "t:settings.show_subscription_form_on_promotion_click",
      "default": false
    },
    {
      "type": "text",
      "id": "subscription_text",
      "label": "t:settings.text",
      "default": "Sign up to be the first to know when the event is live!",
      "visible_if": "{{ block.settings.show_subscription }}"
    },
    {
      "type": "text",
      "id": "subscription_button",
      "label": "t:settings.button",
      "default": "SUBSCRIBE",
      "visible_if": "{{ block.settings.show_subscription }}"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_tablet",
      "label": "t:settings.width_tablet",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width_tablet",
      "label": "t:settings.custom_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_tablet == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color",
      "id": "scheme_background",
      "label": "t:settings.background",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_background_gradient",
      "label": "t:settings.background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground_heading",
      "label": "t:settings.headings",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground",
      "label": "t:settings.text",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary",
      "label": "t:settings.primary_color",
      "default": "#000F9F",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_hover",
      "label": "t:settings.primary_hover_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_border",
      "label": "t:settings.borders",
      "default": "#E6E6E6",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_shadow",
      "label": "t:settings.shadow_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "field-padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "field-padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "field-padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "field-padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "header",
      "content": "t:content.input"
    },
    {
      "type": "text",
      "id": "input_label",
      "label": "t:settings.label",
      "default": "Email"
    },
    {
      "type": "select",
      "id": "border_style",
      "label": "t:settings.border",
      "options": [
        {
          "value": "all",
          "label": "t:options.all"
        },
        {
          "value": "underline",
          "label": "t:options.underline"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "all"
    },
    {
      "type": "range",
      "id": "input_border_width",
      "label": "t:settings.border_width",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "unit": "px",
      "default": 1,
      "visible_if": "{{ block.settings.border_style != 'none' }}"
    },
    {
      "type": "range",
      "id": "input_border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100,
      "visible_if": "{{ block.settings.border_style != 'underline' }}"
    },
    {
      "type": "select",
      "id": "input_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "input_type_preset",
      "label": "t:settings.type_preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "paragraph",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "select",
      "id": "input_focus_effect",
      "label": "Input focus effect",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "effect-1",
          "label": "Outline effect"
        }
      ],
      "default": "none"
    },
    {
      "type": "color",
      "id": "focus_border_color",
      "label": "Focus border color",
      "default": "#3399FF",
      "visible_if": "{{ block.settings.input_focus_effect != 'none' }}"
    },
    {
      "type": "checkbox",
      "id": "agree_condition",
      "label": "t:settings.enable_conditions",
      "default": true,
      "info": "t:info.terms_conditions_info"
    },
    {
      "type": "inline_richtext",
      "id": "agree_condition_text",
      "label": "t:settings.condition_text",
      "default": "I agree with the terms and conditions",
      "visible_if": "{{ block.settings.agree_condition == true }}"
    },
    {
      "type": "range",
      "id": "condition-padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20,
      "visible_if": "{{ block.settings.agree_condition == true }}"
    },
    {
      "type": "range",
      "id": "condition-padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20,
      "visible_if": "{{ block.settings.agree_condition == true }}"
    },
    {
      "type": "header",
      "content": "t:content.description"
    },
    {
      "type": "checkbox",
      "id": "show_input_description",
      "label": "t:settings.show_description",
      "default": false
    },
    {
      "type": "richtext",
      "id": "input_description",
      "label": "t:settings.description",
      "visible_if": "{{ block.settings.show_input_description == true }}"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "rte",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "rte",
      "info": "t:info.edit_presets_in_theme_settings",
      "visible_if": "{{ block.settings.show_input_description == true }}"
    },
    {
      "type": "range",
      "id": "description-padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20,
      "visible_if": "{{ block.settings.show_input_description == true }}"
    },
    {
      "type": "range",
      "id": "description-padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20,
      "visible_if": "{{ block.settings.show_input_description == true }}"
    },
    {
      "type": "header",
      "content": "t:content.submit_button"
    },
    {
      "type": "select",
      "id": "style_class",
      "label": "t:settings.style",
      "options": [
        {
          "value": "button",
          "label": "t:options.primary"
        },
        {
          "value": "button-secondary",
          "label": "t:options.secondary"
        },
        {
          "value": "button-custom",
          "label": "t:settings.button_custom"
        }
      ],
      "default": "button"
    },
    {
      "type": "checkbox",
      "id": "hide_submit_border",
      "label": "t:settings.hide_submit_border",
      "default": false,
      "visible_if": "{{ block.settings.style_class == 'button-custom' }}"
    },
    {
      "type": "select",
      "id": "display_type",
      "label": "t:settings.display",
      "options": [
        {
          "value": "text",
          "label": "t:options.text"
        },
        {
          "value": "icon",
          "label": "t:options.icon"
        }
      ],
      "default": "text"
    },
    {
      "type": "select",
      "id": "icon_type",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "chevron",
          "label": "t:options.chevron"
        },
        {
          "value": "arrow",
          "label": "t:options.arrow"
        },
        {
          "value": "fly",
          "label": "t:options.fly"
        }
      ],
      "default": "chevron",
      "visible_if": "{{ block.settings.display_type == 'icon' }}"
    },
    {
      "type": "range",
      "id": "icon_size_desktop",
      "label": "t:settings.icon_size_desktop",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 24,
      "visible_if": "{{ block.settings.display_type == 'icon' }}"
    },
    {
      "type": "range",
      "id": "icon_size_mobile",
      "label": "t:settings.icon_size_mobile",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 24,
      "visible_if": "{{ block.settings.display_type == 'icon' }}"
    },
    {
      "type": "text",
      "id": "label",
      "label": "t:settings.label",
      "default": "t:text_defaults.sign_up",
      "visible_if": "{{ block.settings.display_type == 'text' }}"
    },
    {
      "type": "select",
      "id": "button_type_preset",
      "label": "t:settings.type_preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "paragraph",
      "info": "t:info.edit_presets_in_theme_settings",
      "visible_if": "{{ block.settings.display_type == 'text' }}"
    },
    {
      "type": "checkbox",
      "id": "background_button",
      "label": "t:settings.background_button",
      "default": true,
      "visible_if": "{{ block.settings.display_type == 'icon' }}"
    },
    {
      "type": "checkbox",
      "id": "integrated_button",
      "label": "t:settings.integrated_button",
      "default": false
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 12,
      "visible_if": "{{ block.settings.integrated_button == false }}"
    },
    {
      "type": "select",
      "id": "submit_width",
      "label": "t:settings.width_desktop",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content",
      "visible_if": "{{ block.settings.display_type == 'text' and block.settings.integrated_button == false }}"
    },
    {
      "type": "range",
      "id": "submit_custom_width",
      "label": "t:settings.width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30,
      "visible_if": "{{ block.settings.display_type == 'text' and block.settings.integrated_button == false and block.settings.submit_width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "submit_width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "custom",
      "visible_if": "{{ block.settings.display_type == 'text' and block.settings.integrated_button == false }}"
    },
    {
      "type": "range",
      "id": "submit_custom_width_mobile",
      "label": "t:settings.width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.display_type == 'text' and block.settings.integrated_button == false and block.settings.submit_width_mobile == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.email_signup",
      "category": "t:categories.forms"
    }
  ]
}
{% endschema %}
