{%- liquid
  assign sec_stts = section.settings
  assign page_width = sec_stts.page_width
  assign color_scheme = sec_stts.color_scheme
  assign section_height = sec_stts.section_height
  assign scroll_reveal = settings.animations_reveal_on_scroll
  assign alignment = sec_stts.alignment
  assign vertical_alignment = sec_stts.vertical_alignment
  assign content_stacked = sec_stts.content_stacked
-%}

{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

<div
  class="
    relative z-0 spacing
    section
    section--{{ page_width }}
    section--height-{{ section_height }}
    {% if content_stacked %} section--content-stacked{% endif %}
  "
  id="collection-hero-{{ section.id }}"
>
  <div class="collection-hero{% if sec_stts.show_collection_image and collection.image %} collection-hero--with-image color-{{ sec_stts.color_scheme_image }}{% else %} color-{{ sec_stts.color_scheme }}{% endif %}">
    {%- if sec_stts.show_collection_image and collection.image -%}
      {{ 'section-media-banner.css' | asset_url | stylesheet_tag }}
      {%- style -%}
        .collection-hero__image-wrapper.banner__media:after {
          opacity: {{ sec_stts.image_overlay_opacity | divided_by: 100.0 }};
          background: var(--color-background);
        }

        #collection-hero-{{ section.id }}.section--content-stacked .banner {
          flex-direction: column;
        }

        #collection-hero-{{ section.id }}.section--content-stacked .banner__media {
          position: relative;
        }
      {%- endstyle -%}

      <div
        class="collection-hero__inner banner h-full{% if scroll_reveal %} scroll-trigger animate--fade-in{% endif %}"
      >
        {%- liquid
          assign loading = 'lazy'
          assign fetch_priority = 'auto'
          if section.index == 1
            assign loading = 'eager'
            assign fetch_priority = 'high'
          endif
          assign image_height = collection.image.width | divided_by: collection.image.aspect_ratio
        -%}
        {% style %}
          {%- liquid
            assign ratio = collection.image.aspect_ratio
          -%}

          {% if section_height == 'adapt' %}
            #collection-hero-{{ section.id }}:not(.section--content-stacked)  {
              aspect-ratio: {{ ratio }};
            }
          {% endif %}

          {% if content_stacked %}
            #collection-hero-{{ section.id }}.section--content-stacked .banner__media {
              aspect-ratio: {{ ratio }};
            }
          {% endif %}
        {% endstyle %}
        <div class="collection-hero__image-wrapper banner__media media">
          {%- render 'image',
            image: collection.image,
            height: image_height,
            fetch_priority: fetch_priority,
            loading: loading,
            sizes: '100vw',
            class: 'banner__media-image'
          -%}
        </div>
        <div
          class="
            collection__text-wrapper
            relative flex w-full z-2
            justify-{{ alignment | replace: 'left', 'start' | replace: 'right', 'end' }}
            items-{{ vertical_alignment | replace: 'flex-', '' | replace: 'flex-', '' }}
            {% if page_width == 'full-width' %} page-width{% endif %}
            {% if scroll_reveal %} scroll-trigger animate--fade-in{% endif %}
          "
        >
          <div class="collection-hero__text-wrapper flex flex-column items-{{ alignment | replace: 'left', 'start' | replace: 'right', 'end' }}">
            {{ children }}
          </div>
        </div>
      </div>
    {%- else -%}
      <div class="collection-hero__inner page-width{% if scroll_reveal %} scroll-trigger animate--fade-in{% endif %}">
        <div
          class="collection-hero__text-wrapper"
          style="--lg-p: 5rem 0; --p: 2.5rem 0;"
        >
          {{ children }}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:names.collection_banner",
  "class": "section-wrapper",
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "_breadcrumb"
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.collection_content"
    },
    {
      "type": "header",
      "content": "t:content.section_layout"
    },
    {
      "type": "checkbox",
      "id": "content_stacked",
      "label": "t:settings.content_stacked",
      "default": false
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "section_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:options.adapt_to_image"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "full-screen",
          "label": "t:options.full_screen"
        }
      ],
      "default": "medium",
      "label": "t:settings.section_height"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.collection_image"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:settings.show_collection_image",
      "info": "t:info.show_collection_image_info"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:settings.image_overlay_opacity",
      "default": 40
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_image",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
